.constructor {
  display: flex;
  align-items: center;
  height: 100%;
}

.constructor-content {
  height: 100%;
}

.content-container {
  display: flex;
  height: 100%;

  &--narrow {
    margin-left: calc((100% - 1548px)/2);
  }

  &--wide {
    margin-left: calc((100% - 1646px)/2);
  }

  &--widest {
    margin-left: calc((100% - 1744px)/2);
  }
}

.rows-container {
  position: relative;
  padding: 80px 24px 24px 80px;
}

.add-row {
  display: flex;
  justify-content: center;
  padding: 29px 0;
  border: 1px dashed $color-bg-warning;
  border-radius: 4px;
}

@media screen and (max-width: 1547px) {
  .content-container {
    margin-left: 0;
  }
}