%pagebar {
  display: block;
  position: relative;
  z-index: 2;
  height: $header-height;
  padding: 0 24px;
  border-bottom: 1px solid $color-dark-10;
  background: white;
  box-shadow: 0 0 2px 0 $color-dark-10,
              0 2px 2px 0 $color-dark-05;
}
