.settings {
  display: block;
  width: $side-bar-max-width;
  padding: 24px;
  margin-right: 68px;


  &__title {
    font-size: $font-title;
    font-weight: $font-weight-bold;
  }

  &__form-field {
    display: flex;

    & mat-form-field {
      flex: 1;
    }
  }

  &__form-field-label {
    font-size: 13px;
    color: $color-dark-50;
    font-weight: 500;
    opacity: 0.8;
  }

  &__icon {
    display: block;
    color: $color-text-warning;
    width: 24px;
  }
}

@media only screen and (max-width: 1680px) {
  .settings {
    margin-right: 0;
  }
}