<div class="layout-list layout-list--12px item item--x-small">
  <div class="layout-list__item">
    <div class="item__size">
      <span>
        I
      </span>
    </div>
  </div>

  <div class="layout-list__item">
    <img
      class="empty-item__image"
      src="assets/switcher_1.png"
    >
  </div>

  <div class="layout-list__item">
    <div class="item__order empty-item__order">
      ??
    </div>
  </div>

  <div class="layout-list__item">
    <div class="item__icon-container">
      <span class="material-symbols-outlined item__icon">
        power
      </span>
    </div>
  </div>

  <div class="layout-list__item">
    <span class="item__label">
      {{ 'EMPTY_BREAKER__LABEL' | translate }}
    </span>
  </div>
</div>
