<div class="print-content__body"
     [class.print-content__body--preview-album]="isPreview && !settings.isBookOrientation"
     [class.print-content__body--preview-book]="isPreview && settings.isBookOrientation"
>
  <div
    class="print-content__container"
    [class.print-content__container--preview]="isPreview"
    [class.print-content__container--preview-album]="isPreview && !settings.isBookOrientation"
    [class.print-content__container--preview-book]="isPreview && settings.isBookOrientation"
    [tourAnchor]="TOUR_ANCHOR_PREVIEW"
    #printContentContainer
  >
    <div *ngIf="isHtmlShown" class="layout-list">
      <div *ngFor="let row of rows; index as i" class="layout-list__item">
        <div
          *ngIf="row.items.length"
          class="print-content__row"
          [class.print-content__row--preview]="isPreview"
          [class.print-content__row--album]="!isPreview && !settings.isBookOrientation"
          [class.print-content__row--book]="!isPreview && settings.isBookOrientation"
        >
          <div class="layout-list layout-list--8px">
            <div class="layout-list__item">
              <div class="print-content__row-number">
                {{ 'PRINT__RAIL' | translate: { index: i + 1 } }}
              </div>
            </div>

            <div class="layout-list__item">
              <div
                class="layout-inline layout-inline--valign-stretch layout-inline--wrap"
                [class.layout-inline--11px]="settings.areLabelsSeperated"
                [class.layout-inline--0px]="!settings.areLabelsSeperated"
              >
                <div
                  *ngFor="let breaker of row.items"
                  class="layout-inline__item print-content__breaker-container"
                  [class.print-content__breaker-container--united]="!settings.areLabelsSeperated"
                  [style.width]="getLabelPercentageWidth(breaker.breakerSize)"
                >
                  <div
                    class="print-content__breaker"
                    [style.height]="labelHeight"
                  >
                    <div
                      *ngIf="isPreview"
                      class="print-content__watermark"
                      [style.background-image]="'url(\'assets/preview.png\')'"
                    ></div>

                    <div
                      class="layout-list"
                      [class.layout-list--12px]="isPreview"
                      [class.layout-list--8px]="!isPreview"
                    >
                      <div class="layout-list__item">
                        <div
                          class="item__order"
                          [style.background-color]="breaker.color"
                          [style.font-family]="settings.font"
                          [style.font-size]="getFontSize(breaker.fontSize)"
                        >
                          {{ breaker.order }}
                        </div>
                      </div>

                      <div class="layout-list__item">
                        <div class="item__icon-container">
                            <span
                              class="material-symbols-outlined item__icon"
                              [style.color]="breaker.color"
                              [style.font-size]="getFontSize(breaker.iconFontSize)"
                            >
                              {{ breaker.icon }}
                            </span>
                        </div>
                      </div>

                      <div class="layout-list__item">
                          <span
                            class="item__label"
                            [style.font-size]="getFontSize(breaker.fontSize)"
                            [style.font-family]="settings.font"
                          >
                            {{ breaker.label }}
                          </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

