<div
  class="layout-list layout-list--6px item"
  [class.item--small]="!isInteractive"
  [class.item--medium]="switcherItem.breakerSize === 2 && isInteractive"
  [class.item--large]="switcherItem.breakerSize === 3 && isInteractive"
>
  <div *ngIf="isInteractive" class="layout-list__item">
    <div class="layout-inline layout-inline--align-center layout-inline--0px">
      <div class="layout-inline__item">
        <button
          mat-icon-button
          large
          theme="warning"
          (click)="editItem.emit()"
        >
          <span class="material-symbols-filled material-symbols-outlined">
            settings
          </span>
        </button>
      </div>

      <div class="layout-inline__item">
        <button
          mat-icon-button
          large
          theme="danger"
          (click)="deleteItem.emit()"
        >
          <span class="material-symbols-filled material-symbols-outlined">
            delete
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="layout-list__item">
    <div class="item__size">
      <span *ngFor="let itemSize of [].constructor(switcherItem.breakerSize)">
        I
      </span>
    </div>
  </div>

  <div class="layout-list__item">
    <img [src]="switcherImagePath">
  </div>

  <div class="layout-list__item">
    <div
      class="item__position"
      [style.background-color]="switcherItem.color"
      [style.font-family]="fontFamily"
    >
      {{ switcherPosition }}
    </div>
  </div>

  <div class="layout-list__item">
    <div class="item__icon-container">
      <span
        class="material-symbols-outlined item__icon"
        [style.color]="switcherItem.color"
      >
        {{ switcherItem.icon }}
      </span>
    </div>
  </div>

  <div class="layout-list__item">
    <span
      class="item__label"
      [style.font-size]="switcherItem.fontSize"
      [style.font-family]="fontFamily"
    >
      {{ switcherItem.label }}
    </span>
  </div>
</div>
