* {
  font-family: "Montserrat", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.header-container {
  position: sticky;
  top: 0;
  display: block;
  height: $header-height;
  width: 100%;
  background: white;
  border-bottom: 1px solid $color-dark-10;
  box-shadow: 0 0 2px 0 $color-dark-10, 0 2px 2px 0 $color-dark-05;
  z-index: 20;
}

.header {
  height: 100%;
  margin: 0 auto 0 auto;
  max-width: $content-wide-max-width;
  padding: 0 24px;
}

.app {
  display: block;
  height: 100%;
  overflow-y: hidden;
}

.app-content {
  display: block;
  height: calc(100% - 72px);
  background: $color-dark-05;
  overflow-y: auto;
  width: 100%;
}

.logo {
  width: 200px;
}

.component-wrapper {
  display: block;
  width: 100%;
}
