// Neutrals colours the same for
$color-dark: #051b25;
$color-dark-90: #0b3040;
$color-dark-70: #575757;
$color-dark-50: #758186;
$color-dark-30: #a0a9ad;
$color-dark-20: #cdd1d3;
$color-dark-10: #e6eaeb;
$color-dark-05: #f4f6f6;
$color-dark-02: #fafbfb;

// Colours
$color-bg-primary: #409cde;
$color-primary-70: #79bae8;
$color-bg-primary-30: #c6e2f6;
$color-text-primary: #0f7bbc;

$color-bg-success: #5ebb50;
$color-bg-success-30: #d3eecf;
$color-text-success: #269116;

$color-bg-warning: #EE8100;
$color-bg-warning-30: #FFF4E7;
$color-text-warning: #dd7000;

$color-bg-danger: #df5d4b;
$color-bg-danger-70: #e88d80;
$color-bg-danger-50: #efaea4;
$color-bg-danger-30: #f6cfc9;
$color-text-danger: #b81600;

$color-bg-accent: #835dd3;
$color-bg-accent-30: #dacff2;
$color-text-accent: #6334c4;

$color-hover: #f6fafd;
$color-hover-dark: #ecf6fc;
$color-white: #ffffff;

$row-hover-color: #f4f7f9; // variable from ultra, temporary solution until migration

// Font sizes and weight
$font-size-extra-small: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 16px;
$font-size-x-large: 20px;
$font-size-xx-large: 22px;
$font-size-xxx-large: 32px;
$font-title: 24px;
$font-weight-bold: bold;

$header-height: 72px;

$item-max-width-extra-small: 68px;
$item-max-width-small: 80px;
$item-max-width-medium: 176px;
$item-max-width-large: 272px;
$row-max-width: 900px;
$row-narrow-max-width: 720px;
$content-wide-max-width: 1500px;
$expanded-item-max-width: 940px;
$expanded-item-narrow-max-width: 800px;
$side-bar-max-width: 380px;

$layout-spacing-options: 94px 88px 64px 44px 32px 24px 16px 12px 10px 8px 6px 2px 0px;

