<div class="content-container">
  <div class="layout-split layout-split--stretch">
    <div class="layout-split__item">
      <img class="logo" src="../../assets/logo.png">
    </div>

    <nav class="layout-split__item">
      <div class="layout-inline">
        <div class="layout-inline__item">
          <button
            mat-button
            theme="dark-70"
          >
            <span class="material-symbols-filled material-symbols-outlined">
              visibility
            </span>
            Preview
          </button>
        </div>

        <div class="layout-inline__item">
          <button
            mat-raised-button
            theme="success"
          >
            <span class="material-symbols-outlined">
             place_item
            </span>
            Download
          </button>
        </div>

        <div class="layout-inline__item">
          <button
            mat-raised-button
            theme="primary"
          >
            <span class="material-symbols-outlined">
             dialogs
            </span>
            Get Stickers
          </button>
        </div>

        <div class="layout-inline__item">
          <button
            mat-icon-button
            small
            theme="warning"
            (click)="toggleSettings.emit()"
          >
            <span class="material-symbols-filled material-symbols-outlined">
              settings
            </span>
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>
