<div class="header">
  <div class="layout-split layout-split--stretch">
    <div class="layout-split__item">
      <img class="logo" src="assets/logo.png">
    </div>

    <nav class="layout-split__item">
      <div class="layout-inline">
        <div class="layout-inline__item">
          <button
            mat-button
            theme="dark-70"
            [tourAnchor]="TOUR_ANCHOR_PREVIEW"
            (click)="openPreview()"
          >
            <span class="material-symbols-filled material-symbols-outlined">
              visibility
            </span>

            {{ 'HEADER__PREVIEW' | translate }}
          </button>
        </div>

        <div class="layout-inline__item">
          <button
            mat-raised-button
            theme="success"
            [tourAnchor]="TOUR_ANCHOR_DOWNLOAD"
            (click)="downloadLabels()"
          >
            <span class="material-symbols-outlined">
             place_item
            </span>

            {{ '__BUTTON_DOWNLOAD' | translate }}
          </button>
        </div>

<!--        TODO: show this button when backend will be implemented-->
<!--        <div class="layout-inline__item">-->
<!--          <button-->
<!--            mat-raised-button-->
<!--            theme="primary"-->
<!--          >-->
<!--            <span class="material-symbols-outlined">-->
<!--             dialogs-->
<!--            </span>-->
<!--            Get Stickers-->
<!--          </button>-->
<!--        </div>-->

        <div class="layout-inline__item">
          <button
            mat-icon-button
            small
            theme="warning"
            [tourAnchor]="TOUR_ANCHOR_SETTINGS"
            (click)="toggleSettings()"
          >
            <span class="material-symbols-filled material-symbols-outlined">
              settings
            </span>
          </button>
        </div>

        <div class="layout-inline__item">
          <button
            mat-button
            theme="dark-70"
            [tourAnchor]="TOUR_ANCHOR_LANGUAGE"
            [matMenuTriggerFor]="languageList"
          >
            {{ language | translate }}
            <span class="material-symbols-filled material-symbols-outlined">
              arrow_drop_down
            </span>
          </button>

          <mat-menu
            #languageList="matMenu"
            >
            <div class="layout-list layout-list--0px">
              <div
                *ngFor="let supportedLanguage of SUPPORTED_LANGUAGES"
                class="layout-list__item"
              >
                <button
                  mat-button
                  theme="dark-70"
                  (click)="setLanguage(supportedLanguage)"
                >
                  {{ LANGUAGE_KEY_TRANSLATIONS[supportedLanguage] | translate }}
                </button>
              </div>
            </div>
          </mat-menu>
        </div>
      </div>
    </nav>
  </div>
</div>
