<div class="fullscreen-dialog-header">
  <div class="layout-split layout-split--stretch">
    <div class="layout-split__item layout-split__item--expand">
      <div class="fullscreen-dialog-header__title is--ellipsis">
        {{ 'PREVIEW_DIALOG__TITLE' | translate:
        { title: data.settings.title } }}
      </div>
    </div>

    <div class="layout-split__item ultra-theme">
      <button
        mat-icon-button
        small
        [tourAnchor]="TOUR_ANCHOR_CLOSE"
        (click)="closeDialog()"
      >
        <span class="material-symbols-filled material-symbols-outlined">
          close
        </span>
      </button>
    </div>
  </div>
</div>

<div class="fullscreen-dialog__body">
  <div class="preview" #topScrollPositionRequest cdkScrollable>
    <print-content
      [rows]="data.rows"
      [settings]="data.settings"
      [isPreview]="true"
    >
    </print-content>
  </div>
</div>
