<mat-drawer-container *ngIf="!isLoading" autosize>
  <mat-drawer
    #drawer
    mode="over"
    position="end"
  >
    <panel-label-settings
      [settings]="settings"
      (saveSettings)="saveSettings($event)"
    ></panel-label-settings>
  </mat-drawer>

  <!-- Have to use [class.content-container--narrow]="settings.breakerCount < 16" -->
  <!-- and [class.content-container--wide]="settings.breakerCount === 16" -->
  <!-- and [class.content-container--widest]="settings.breakerCount === 17" -->
  <!-- to fix the problem with rows container in the middle scroll and normal side margins -->
  <div
    class="content-container"
    [class.content-container--narrow]="settings.breakerCount < 16"
    [class.content-container--wide]="settings.breakerCount === 16"
    [class.content-container--widest]="settings.breakerCount === 17"
  >
    <div class="content">
      <div class="rows-container">
        <panel-label-size
          [isHorizontal]="true"
          [horizontalSize]="horizontalSize"
        >
        </panel-label-size>

        <panel-label-size
          [isHorizontal]="false"
          [verticalSize]="verticalSize"
        >
        </panel-label-size>

        <div class="layout-list">
          <div *ngFor="let row of rows" class="layout-list__item">
            <panel-label-row
              [breakerCount]="settings.breakerCount"
              [switcherRow]="row"
              [fontFamily]="settings.font"
              (addBreaker)="openBreakerDialog(row)"
              (editBreaker)="openBreakerDialog(row, $event)"
              (deleteBreaker)="deleteBreaker($event, row.id)"
            ></panel-label-row>
          </div>

          <div class="layout-list__item">
            <div class="add-row">
              <button
                mat-button
                theme="warning"
                type="button"
                (click)="addRow()"
              >
                <div class="icon-container">
                <span class="material-symbols-outlined">
                  add
                </span>
                </div>

                Add rail
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>

<div
  *ngIf="isLoading"
  class="layout-inline layout-inline--expand layout-inline--align-center"
>
  <mat-spinner
    diameter="200"
    theme="primary-light"
  ></mat-spinner>
</div>
