<div class="layout-inline layout-inline--valign-stretch">
  <div
    *ngFor="let item of switcherRow.items; index as i"
    class="layout-inline__item"
  >
    <panel-label-item
      [switcherItem]="item"
      [fontFamily]="fontFamily"
      [tourEditAnchor]="i === 0 && orderNumber === 0 ? TOUR_ANCHOR_EDIT_BREAKER : ''"
      [tourDeleteAnchor]="i === 0 && orderNumber === 1 ? TOUR_ANCHOR_DELETE_BREAKER : ''"
      (deleteItem)="deleteBreaker.emit(item.id)"
      (editItem)="editBreaker.emit(item)"
    ></panel-label-item>
  </div>

  <div
    *ngIf="freeSlotsCount"
    class="layout-inline__item"
  >
    <div class="item item__add-container">
      <button
        mat-button
        class="vertical-button"
        theme="warning"
        type="button"
        [disabled]="isAddBreakerDisabled"
        (click)="addBreaker.emit()"
      >
        <div class="layout-list layout-list--8px">
          <div class="layout-list__item">
            <div class="icon-container">
              <span class="material-symbols-outlined">
                add
              </span>
            </div>
          </div>

          <div class="layout-list__item">
            {{ 'ROW__ADD_BREAKER' | translate }}
          </div>
        </div>
      </button>
    </div>
  </div>

  <div
    *ngFor="let emptyItem of emptySlots"
    class="layout-inline__item"
  >
    <panel-empty-item></panel-empty-item>
  </div>
</div>