<custom-confirmation-dialog
  [submitButtonLabel]="(data.item ? '__BUTTON_SAVE' : '__BUTTON_ADD') | translate"
  [cancelButtonLabel]="'__BUTTON_CANCEL' | translate"
  [action$]="action$"
  [buttonType]="'warning'"
  [large]="true"
  [tourAnchorMap]="{ actions: TOUR_ANCHOR_ACTIONS }"
  (cancelled)="close()"
  (success)="triggerSuccess()"
  (error)="triggerError($event)"
>
  <div class="dialog-body-section">
    <div class="layout-list">
      <div class="layout-list__item">
        <div class="dialog-header">
          <div class="dialog-header__title">
            {{ (data.item ? 'BREAKER_DIALOG__EDIT_BREAKER' : 'BREAKER_DIALOG__ADD_BREAKER') | translate }}
          </div>
        </div>
      </div>

      <form [formGroup]="form">
        <div class="layout-list__item">
          <div class="layout-inline layout-inline--valign-top" [tourAnchor]="TOUR_ANCHOR_INFO">
            <div class="layout-inline__item">
              <panel-label-item
                [isInteractive]="false"
                [switcherItem]="this.form.value"
                [fontFamily]="data.fontFamily"
              ></panel-label-item>
            </div>

            <div class="layout-inline__item layout-inline__item--expand">
              <div class="layout-list layout-list--0px">
                <div class="layout-list__item">
                  <div class="layout-inline">
                    <div class="layout-inline__item layout-inline__item--expand">
                      <div class="breaker__form-field">
                        <mat-form-field
                          floatLabel="always"
                          [matTooltip]="'BREAKER_DIALOG__TYPE_DISABLE_DESCRIPTION' | translate"
                        >
                          <mat-label>
                            {{ 'BREAKER_DIALOG__TYPE' | translate }}
                          </mat-label>

                          <mat-select
                            formControlName="type"
                            [hideSingleSelectionIndicator]="true"
                          >
                            <mat-option
                              *ngFor="let type of BREAKER_TYPES"
                              [value]="type"
                            >
                              {{ BREAKER_TYPE_TRANSLATION_KEYS[type] | translate }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="layout-inline__item layout-inline__item--expand">
                      <div class="breaker__form-field">
                        <mat-form-field>
                          <mat-label>
                            {{ 'BREAKER_DIALOG__SIZE' | translate }}
                          </mat-label>

                          <mat-select
                            formControlName="breakerSize"
                            [hideSingleSelectionIndicator]="true"
                          >
                            <mat-option
                              *ngFor="let size of BREAKER_SIZES_MAP | keyvalue"
                              [value]="size.value"
                            >
                              {{ size.key }}
                            </mat-option>
                          </mat-select>

                          <mat-error
                            *ngIf="form.controls['breakerSize'].hasError('max')"
                          >
                            {{ 'BREAKER_DIALOG__ERROR_NOT_ENOUGH_SLOTS' | translate:
                            { freeSlotsCount: data.freeSlots } }}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="layout-list__item">
                  <div class="breaker__form-field">
                    <mat-form-field floatLabel="always">
                      <mat-label>
                        {{ 'BREAKER_DIALOG__TEXT' | translate }}
                      </mat-label>

                      <input
                        matInput
                        type="text"
                        formControlName="label"
                        [placeholder]="'BREAKER_DIALOG__LABEL_PLACEHOLDER' | translate"
                      >

                      <mat-error
                        *ngIf="form.controls['label'].hasError('required')"
                      >
                        {{ 'FORM_FIELD__ERROR_CAN_NOT_BE_BLANK' | translate }}
                      </mat-error>

                      <mat-error
                        *ngIf="
                          form.controls['label'].hasError('maxlength')
                        "
                      >
                        {{ 'FORM_FIELD__ERROR_72_MAX_LENGTH' | translate }}
                      </mat-error>

                      <mat-error
                        *ngIf="
                          form.controls['label'].hasError('pattern')
                        "
                      >
                        {{ 'BREAKER_DIALOG__ERROR_LABEL_PATTERN' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="layout-list__item">
                  <div class="layout-inline">
                    <div class="layout-inline__item layout-inline__item--expand">
                      <div class="breaker__form-field">
                        <mat-form-field>
                          <mat-label>
                            {{ 'BREAKER_DIALOG__FONT_SIZE' | translate }}
                          </mat-label>

                          <mat-select
                            formControlName="fontSize"
                            [hideSingleSelectionIndicator]="true"
                          >
                            <mat-option
                              *ngFor="let fontSize of BREAKER_FONT_SIZES_MAP | keyvalue: originalOrder"
                              [value]="fontSize.key"
                            >
                              {{ fontSize.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="layout-inline__item layout-inline__item--expand">
                      <div class="breaker__form-field">
                        <mat-form-field>
                          <mat-label>
                            {{ 'BREAKER_DIALOG__ORDER' | translate }}
                          </mat-label>

                          <input
                            matInput
                            type="text"
                            formControlName="order"
                            [placeholder]="'BREAKER_DIALOG__ORDER_PLACEHOLDER' | translate"
                          >

                          <mat-error
                            *ngIf="form.controls['order'].hasError('required')"
                          >
                            {{ 'FORM_FIELD__ERROR_CAN_NOT_BE_BLANK' | translate }}
                          </mat-error>

                          <mat-error
                            *ngIf="
                          form.controls['order'].hasError('maxlength')
                        "
                          >
                            {{ 'FORM_FIELD__ERROR_72_MAX_LENGTH' | translate }}
                          </mat-error>

                          <mat-error
                            *ngIf="
                          form.controls['order'].hasError('pattern')
                        "
                          >
                            {{ 'BREAKER_DIALOG__ERROR_ORDER_PATTERN' | translate }}
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-list__item" [tourAnchor]="TOUR_ANCHOR_COLOR">
          <div class="layout-list layout-list--8px">
            <div class="layout-list__item">
              <div class="breaker__form-field-label">
                {{ 'BREAKER_DIALOG__COLOR' | translate }}
              </div>
            </div>

            <div class="layout-list__item">
              <div class="layout-inline layout-inline--8px">
                <div *ngFor="let color of BREAKER_COLORS" class="layout-inline__item">
                  <div
                    class="circle"
                    [style.background-color]="color"
                    [class.circle--selected]="form.controls['color'].value === color"
                    (click)="form.controls['color'].setValue(color)"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-list__item" [tourAnchor]="TOUR_ANCHOR_ICON">
          <div class="layout-list layout-list--8px">
            <div class="layout-list__item">
              <div class="breaker__form-field-label">
                {{ 'BREAKER_DIALOG__ICON' | translate }}
              </div>
            </div>

            <div class="layout-list__item">
              <div class="breaker__icons-container">
                <div class="layout-inline layout-inline--0px layout-inline--wrap">
                  <div *ngFor="let icon of BREAKER_ICONS" class="layout-inline__item">
                    <span
                      class="material-symbols-outlined breaker__icon"
                      [class.breaker__icon--inactive]="form.controls['icon'].value && form.controls['icon'].value !== icon"
                      (click)="form.controls['icon'].setValue(icon)"
                    >
                      {{ icon }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</custom-confirmation-dialog>
