<form [formGroup]="form" (ngSubmit)="saveForm()">
  <div class="layout-list">
    <div class="layout-list__item">
      <span class="settings__title">
        {{ 'SETTINGS__AREA_SETTINGS' | translate }}
      </span>
    </div>

<!--  TODO: here must be added autocomplete with selecting of user project  -->

    <div class="layout-list__item">
      <div class="layout-list layout-list--0px">
        <div class="layout-list__item">
          <span class="settings__sub-title">
            {{ 'SETTINGS__RAIL_SETTINGS' | translate }}
          </span>
        </div>

        <!--  TODO: uncomment this logic when there will be a difference between those two types of breakers  -->
<!--        <div class="layout-list__item" [tourAnchor]="TOUR_ANCHOR_TYPE">-->
<!--          <div class="settings__form-field">-->
<!--            <mat-form-field>-->
<!--              <mat-label>-->
<!--                {{ 'SETTINGS__BREAKER_TYPE' | translate }}-->
<!--              </mat-label>-->

<!--              <mat-select-->
<!--                formControlName="type"-->
<!--                [hideSingleSelectionIndicator]="true"-->
<!--              >-->
<!--                <mat-option-->
<!--                  *ngFor="let type of SWITCHER_TYPES"-->
<!--                  [value]="type"-->
<!--                >-->
<!--                  {{ type | uppercase }}-->
<!--                </mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--        </div>-->

        <div class="layout-list__item" [tourAnchor]="TOUR_ANCHOR_SIZE_TYPE">
          <div class="settings__form-field">
            <div class="layout-list layout-list--0px">
              <div class="layout-list__item">
                <mat-label>
                  {{ 'SETTINGS__SIZE_SETTINGS' | translate }}
                </mat-label>
              </div>

              <div class="layout-list__item">
                <mat-radio-group formControlName="isItemSize">
                  <div class="layout-list layout-list--0px">
                    <div class="layout-list__item">
                      <mat-radio-button [value]="true">{{ 'SETTINGS__BREAKER_WIDTH' | translate }}</mat-radio-button>
                    </div>

                    <div class="layout-list__item">
                      <mat-radio-button [value]="false">{{ 'SETTINGS__RAIL_WIDTH' | translate }}</mat-radio-button>
                    </div>
                  </div>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-list__item" [tourAnchor]="TOUR_ANCHOR_SIZE">
          <div class="layout-inline layout-inline--6px">
            <div class="layout-inline__item layout-inline__item--expand">
              <div class="settings__form-field">
                <mat-form-field>
                  <mat-label>
                    {{ 'SETTINGS__WIDTH' | translate }}
                  </mat-label>

                  <input
                    matInput
                    type="number"
                    formControlName="width"
                    [class.suffixed]="form.controls['width'].value"
                    [placeholder]="(form.controls['isItemSize'].value
                      ? 'SETTINGS__BREAKER_WIDTH_PLACEHOLDER'
                      : 'SETTINGS__RAIL_WIDTH') | translate"
                  >

                  <span *ngIf="form.controls['width'].value" matSuffix>mm</span>

                  <mat-error
                    *ngIf="form.controls['width'].hasError('required')"
                  >
                    {{ 'FORM_FIELD__ERROR_CAN_NOT_BE_BLANK' | translate }}
                  </mat-error>

                  <mat-error
                    *ngIf="
                      form.controls['width'].hasError('max') ||
                      form.controls['width'].hasError('min')
                    "
                  >
                    {{ (form.controls['isItemSize'].value
                    ? 'SETTINGS__ERROR_MAX_SIZE_100'
                    : 'SETTINGS__ERROR_MAX_SIZE_9999') | translate
                    }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="layout-inline__item layout-inline__item--expand">
              <span class="material-symbols-filled material-symbols-outlined settings__icon">
                link
              </span>
            </div>

            <div class="layout-inline__item">
              <div class="settings__form-field">
                <mat-form-field>
                  <mat-label>
                    {{ 'SETTINGS__HEIGHT' | translate }}
                  </mat-label>

                  <input
                    matInput
                    type="number"
                    formControlName="height"
                    [class.suffixed]="form.controls['height'].value"
                    [placeholder]="'SETTINGS__BREAKER_HEIGHT' | translate"
                  >

                  <span *ngIf="form.controls['height'].value" matSuffix>
                    {{ 'SETTINGS__MM' | translate }}
                  </span>

                  <mat-error
                    *ngIf="form.controls['height'].hasError('required')"
                  >
                    {{ 'FORM_FIELD__ERROR_CAN_NOT_BE_BLANK' | translate }}
                  </mat-error>

                  <mat-error
                    *ngIf="
                      form.controls['height'].hasError('max') ||
                      form.controls['height'].hasError('min')
                    "
                  >
                    {{ 'SETTINGS__ERROR_MAX_SIZE_100' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

<!--        TODO: uncomment when vertical layout will be ready-->
<!--        <div class="layout-list__item">-->
<!--          <div class="settings__form-field">-->
<!--            <mat-form-field>-->
<!--              <mat-label>-->
<!--                {{ 'SETTINGS__POSITION' | translate }}-->
<!--              </mat-label>-->

<!--              <mat-select-->
<!--                formControlName="position"-->
<!--                [hideSingleSelectionIndicator]="true"-->
<!--              >-->
<!--                <mat-option-->
<!--                  *ngFor="let position of LABEL_POSITION"-->
<!--                  [value]="position"-->
<!--                >-->
<!--                  {{ POSITION_TRANSLATIONS_MAP[position] | translate }}-->
<!--                </mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--        </div>-->

        <div class="layout-list__item" [tourAnchor]="TOUR_ANCHOR_BREAKER_QUANTITY">
          <div class="settings__form-field">
            <mat-form-field>
              <mat-label>
                {{ 'SETTINGS__DIN_RAIL_SIZE' | translate }}
              </mat-label>

              <mat-select
                formControlName="breakerCount"
                [hideSingleSelectionIndicator]="true"
              >
                <mat-option
                  *ngFor="let size of RAIL_SIZES"
                  [value]="size"
                >
                  {{ size }} {{ 'SETTINGS__SIZE_MODULES' | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="layout-list__item">
      <div class="layout-list layout-list--0px">
        <div class="layout-list__item">
          <span class="settings__sub-title">
            {{ 'SETTINGS__LABEL_SETTINGS' | translate }}
          </span>
        </div>

        <div class="layout-list__item" [tourAnchor]="TOUR_ANCHOR_PRINT_ORIENTATION">
          <div class="settings__form-field">
            <div class="layout-list layout-list--0px">
              <div class="layout-list__item">
                <mat-label>
                  {{ 'SETTINGS__PAGE_ORIENTATION' | translate }}
                </mat-label>
              </div>

              <div class="layout-list__item">
                <mat-radio-group formControlName="isBookOrientation">
                  <div class="layout-list layout-list--0px">
                    <div class="layout-list__item">
                      <mat-radio-button [value]="true">{{ 'SETTINGS__ORIENTATION_BOOK' | translate }}</mat-radio-button>
                    </div>

                    <div class="layout-list__item">
                      <mat-radio-button [value]="false">{{ 'SETTINGS__ORIENTATION_ALBUM' | translate }}</mat-radio-button>
                    </div>
                  </div>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-list__item" [tourAnchor]="TOUR_ANCHOR_SEPERATED_UNITED">
          <div class="settings__form-field">
            <div class="layout-list layout-list--0px">
              <div class="layout-list__item">
                <mat-label>
                  {{ 'SETTINGS__STICKERS_TYPE' | translate }}
                </mat-label>
              </div>

              <div class="layout-list__item">
                <mat-radio-group formControlName="areLabelsSeperated">
                  <div class="layout-list layout-list--0px">
                    <div class="layout-list__item">
                      <mat-radio-button [value]="true">{{ 'SETTINGS__SEPERATED_LABELS' | translate }}</mat-radio-button>
                    </div>

                    <div class="layout-list__item">
                      <mat-radio-button [value]="false">{{ 'SETTINGS__UNITED_LABELS' | translate }}</mat-radio-button>
                    </div>
                  </div>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-inline layout-inline--6px" [tourAnchor]="TOUR_ANCHOR_LABEL_SIZE">
          <div class="layout-inline__item layout-inline__item--expand">
            <div class="settings__form-field">
              <mat-form-field>
                <mat-label>
                  {{ 'SETTINGS__WIDTH' | translate }}
                </mat-label>

                <input
                  matInput
                  type="number"
                  [matTooltip]="'SETTINGS__WIDTH_TOOLTIP' | translate"
                  [value]="form.controls['isItemSize'].value
                    ? form.controls['width'].value
                    : getWidth(true).toString()"
                  [disabled]="true"
                  [class.suffixed]="form.controls['width'].value"
                >

                <span *ngIf="form.controls['width'].value" matSuffix>{{ 'SETTINGS__MM' | translate }}</span>
              </mat-form-field>
            </div>
          </div>

          <div class="layout-inline__item layout-inline__item--expand">
              <span class="material-symbols-filled material-symbols-outlined settings__icon">
                link
              </span>
          </div>

          <div class="layout-inline__item">
            <div class="settings__form-field">
              <mat-form-field>
                <mat-label>
                  {{ 'SETTINGS__HEIGHT' | translate }}
                </mat-label>

                <input
                  matInput
                  type="number"
                  formControlName="labelHeight"
                  [class.suffixed]="form.controls['labelHeight'].value"
                  [placeholder]="'SETTINGS__LABEL_HEIGHT_PLACEHOLDER' | translate"
                >

                <span *ngIf="form.controls['labelHeight'].value" matSuffix>{{ 'SETTINGS__MM' | translate }}</span>

                <mat-error
                  *ngIf="form.controls['labelHeight'].hasError('required')"
                >
                  {{ 'FORM_FIELD__ERROR_CAN_NOT_BE_BLANK' | translate }}
                </mat-error>

                <mat-error
                  *ngIf="
                      form.controls['labelHeight'].hasError('max') ||
                      form.controls['labelHeight'].hasError('min')
                    "
                >
                  {{ 'SETTINGS__ERROR_MAX_SIZE_100' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="layout-list__item" [tourAnchor]="TOUR_ANCHOR_FONT">
          <div class="settings__form-field">
            <mat-form-field>
              <mat-label>
                {{ 'SETTINGS__FONT' | translate }}
              </mat-label>

              <input type="text"
                     [placeholder]="'SETTINGS__FONT_PLACEHOLDER' | translate"
                     matInput
                     formControlName="font"
                     [matAutocomplete]="auto"
                     [style.font-family]="form.controls['font'].value">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">

                <mat-option
                  *ngFor="let font of getFonts(form.controls['font'].value)"
                  [value]="font"
                >
                  <span [style.font-family]="font">
                    {{ font }}
                  </span>
                </mat-option>
              </mat-autocomplete>

              <mat-error
                *ngIf="form.controls['font'].hasError('required')"
              >
                {{ 'FORM_FIELD__ERROR_CAN_NOT_BE_BLANK' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="layout-list__item">
      <button
        mat-raised-button
        theme="warning"
        type="submit"
        [tourAnchor]="TOUR_ANCHOR_SAVE"
      >
        {{ '__BUTTON_CONFIRM' | translate }}
      </button>
    </div>
  </div>
</form>
