<dialog-overlay [isProcessing]="isProcessing" (closed)="cancel()">
  <div class="dialog">
    <div class="layout-inline layout-inline--0px layout-inline--valign-stretch">
      <div
        class="layout-inline__item dialog__image"
        *ngIf="imageUrl"
        [style.background-position]="imagePosition"
        [style.background-image]="
          'assets/' + imageUrl
        "
        [ngClass]="'dialog__image--theme-' + imageTheme"
      ></div>

      <div class="layout-inline__item">
        <div
          class="dialog__body"
          [class.dialog__body--medium]="medium"
          [class.dialog__body--large]="large"
        >
          <ng-content></ng-content>
        </div>

        <div class="dialog__actions">
          <div class="layout-inline layout-inline--align-right">
            <div class="layout-inline__item">
              <button
                *ngIf="!submitIsHidden"
                type="button"
                mat-button
                (click)="cancel()"
                [disabled]="isProcessing"
                [attr.tabindex]="3"
              >
                {{ cancelButtonLabel | translate }}
              </button>

              <button
                *ngIf="submitIsHidden"
                type="button"
                mat-raised-button
                theme="primary"
                (click)="cancel()"
                [disabled]="isProcessing"
                [attr.tabindex]="3"
              >
                {{ cancelButtonLabel | translate }}
              </button>
            </div>

            <div
              *ngIf="!submitIsHidden"
              class="layout-inline__item"
            >
              <button
                type="button"
                mat-raised-button
                [attr.theme]="buttonType"
                (click)="confirm($event)"
                [disabled]="isProcessing || isSubmitDisabled"
                [tabindex]="2"
              >
                <ng-container *ngIf="!isProcessing">
                  {{ submitButtonLabel | translate }}
                </ng-container>

                <mat-progress-spinner
                  *ngIf="isProcessing"
                  color="{{ buttonType === 'danger' ? 'warn' : buttonType }}"
                  diameter="24"
                  mode="indeterminate"
                  [ngStyle]="{
                      position: 'absolute',
                      left: '50%',
                      top: '50%',
                      transform: 'translate(-50%, -50%)'
                    }"
                ></mat-progress-spinner>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog-overlay>
